/* You can add global styles to this file, and also import other style files */
.btn {
  width: 50%;
  margin: auto;
  margin-bottom: 30px;
}
h1 {
  text-align: center
}
.dropdown {
  text-align: center
}
