<div class="container-fluid">
  <h1>Transactions by cashier</h1>
    <select  (change)="getTrans($event)" class="custom-select" >
      <option selected>Select cashier name</option>
      <option  *ngFor="let cash of cashiers" [value]= "cash.id">{{cash.name}}</option>
    </select>
  </div>
  <br>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Date / Time</th>
        <th scope="col">Product Cost</th>
        <th scope="col">Paid Amount</th>
        <th scope="col">Change Amount</th>
      </tr>
    </thead>
    <tr *ngFor="let log of logs">
      <th *ngIf="[val] == log.cashierId" scope="row">{{log.current}}</th>
      <td *ngIf="[val] == log.cashierId">{{log.amount}}</td>
      <td *ngIf="[val] == log.cashierId">{{log.paid}}</td>
      <td *ngIf="[val] == log.cashierId">{{log.changeAmount}}</td>
    </tr>
    <tbody>

    </tbody>
  </table>
