<div class="container-fluid">
<h1>Cashier login</h1>

<form>
  <div class="form-group">
    <label>Email address</label>
    <input type="email" class="form-control" placeholder="Enter email" #name>
  </div>

  <button (click)= "onWriteEmail(name.value)"  type="button" class="btn btn-primary" [routerLink]="['transactions']">Login</button>
</form>
</div>
