<div class="container-fluid">
  <h1>Transactions</h1>
  <form #logForm="ngForm" (ngSubmit)="onSubmit()" >
    <div class="form-group">
      <input type="text" class="form-control" name="amount" placeholder="Enter cost" [(ngModel)]="transModel.amount">
      <input type="text" class="form-control" name="paid" placeholder="Enter paid amount" [(ngModel)]="transModel.paid">
      <button type="button" class="btn btn-primary" (click)="onClick(transModel.amount, transModel.paid)">Calculate Change</button>
      <input type="text" class="form-control" name="changes" placeholder="Change amount" [(ngModel)]="transModel.changeAmount">
      <button type="submit" class="btn btn-primary">Save Transaction</button>
    </div>
  </form>

</div>

