<br>
<br>
<h1>Main Page</h1>
<br>
<br>
<button type="button" class="btn btn-primary btn-lg btn-block" [routerLink]="['login']">Login as a cashier</button>
<button type="button" class="btn btn-secondary btn-lg btn-block" [routerLink]="['cashTrans']">Show transactions by cashier</button>
